    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=siteTitle %> | <%= pageTitle %></title>
    <meta name="description" content="An image gallery of my dog kira">
    <!--stylesheets-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    <!--icons-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!--Script-->
    <script src="js/client.js" type="module" async></script>
