<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <!--Site content-->
    <div class="site-wrapper">
      <%- include('../partials/header.ejs') %>
      <!--gallery-->
      <main class="gallery-wrapper">
        <div class="gallery-title">
          <h2>Kira's Life in Frame</h2>
          <p>Just being a dog</p>
        </div>
        <!-- Gallery Loads here -->
      </main>

      <!--footer-->
      <footer class="footer">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
  </body>
</html>
